@model CodeFisrtSampleProject.Entities.CourseClass

@{
    ViewData["Title"] = "Create With Ajax";
}

<h1>Create With Ajax</h1>

<h4>CourseClass</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" onsubmit="save(this,event)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label">Province</label>
                    <select id="provinceId" class="form-control" asp-items="ViewBag.Provinces" onchange="getCities(this)">
                        <option value="">Choose a province</option>
                    </select>
                    <p style="display:none">
                        <span class="spinner-border text-success spinner-border-sm loading"  role="status">
                            <span class="sr-only">Loading...</span>
                        </span>
                    </p>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">City</label>
                    <select id="cityId" class="form-control" >
                        <option value="">Choose a city</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="CourseId" class="control-label"></label>
                    <select asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId">
                        <option value="">Choose a day</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="card">
                    <div class="card-header">Days</div>
                    <div class="card-body" id="days">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label class="control-label"></label>
                                <select name="Days[0].DayId" asp-items="Html.GetEnumSelectList<Days>()" class="form-control">
                                    <option value="">Choose a day</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label"></label>
                                <input name="Days[0].StartTime" class="form-control" />
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label"></label>
                                <input name="Days[0].FinishTime" class="form-control" />
                            </div>
                            <div class="form-group col-md-3 pt-4 row-action">
                                <button class="btn btn-primary btn-sm btn-add" onclick="addNewRow(this,event)">Add</button>
                                <button class="btn btn-danger btn-sm btn-delete" onclick="removeRow(this,event)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" id="btnSubmit" class="btn btn-primary">
                    <span class="spinner-border text-success spinner-border-sm loading" style="display:none" role="status">
                        <span class="sr-only">Loading...</span>
                    </span>
                    Create
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
   
    function addNewRow(el, e) {
        e.preventDefault();
        let newRow = $(el).parents('.form-row').first().clone();
        let index = $('#days .form-row').length;

        let find = `${index - 1}`;
        let re = new RegExp(find, 'g');

        $('input[name*="StartTime"]', newRow).attr("name", $('input[name*="StartTime"]', newRow).attr("name").replace(re, `${index}`));
        $('input[name*="FinishTime"]', newRow).attr("name", $('input[name*="FinishTime"]', newRow).attr("name").replace(re, `${index}`));
        $('select', newRow).attr("name", $('select', newRow).attr("name").replace(re, `${index}`));

        $("#days").append(newRow);
    }
    
    const removeRow = (el, e) => {
        e.preventDefault();
        $(el).parents('.form-row').first().remove();
    }

    const save = (el , event) => {
        event.preventDefault();
        let data = $(el).serialize();
        $("#btnSubmit").attr("disabled", "disabled");
        $("#btnSubmit span.loading").css("display", "inline-block");

        //jquery ajax
        $.post('/CourseClass/CreateAjax', data, function (response) {
            $("#btnSubmit").removeAttr("disabled");
            $("#btnSubmit span.loading").css("display", "none");

            console.log(response);
            if (response.isSuccess) {
                alert(response.message);
                window.location.href = "/CourseClass/Index";
            }
        })
    }

    const getCities = (el) => {
        $(el).next().css('display', 'block');
        const provinceId = $(el).val();
        const url = `/City/GetCitiesWithProvinceId?provinceId=${provinceId}`;
        $.get(url, function (response) {
            if (response.isSuccess)
                fillCityCombo(response.data);
            $(el).next().css('display', 'none');

        })
    }

    const fillCityCombo = (data) => {
        debugger;
        $("#cityId option:not(:first-child)").remove();
        for (var i = 0; i < data.length; i++) {
            const item = data[i];
            let option = `<option value="${item.id}">${item.cityName}</option>`;
            $("#cityId").append(option);
        }
    }

</script>
}

@section Styles {
<style>
    #days .form-row .btn-add {
        display: none;
    }
    #days .form-row:last-child .btn-add {
        display:inline !important;
    }
    #days .form-row:first-child .btn-delete {
        display: none;
    }
</style>
}
